/* Import */
.white {
  color: #fff;
}

.footer {
  background-color: #caf0f8;
  text-align: center;
  margin-bottom: 0;
}

.logo-footer {
  text-align: center;
  align-content: center;
}
@media (min-width: 961px) {
  .logo-footer {
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 50%;
    height: auto;
  }
}
@media (min-width: 401px) and (max-width: 960px) {
  .logo-footer {
    margin-top: 1rem;
    margin-left: 2rem;
    width: 100%;
    height: auto;
  }
}
@media (max-width: 400px) {
  .logo-footer {
    margin-left: 1rem;
    padding-top: 1rem;
    width: 50%;
    height: auto;
  }
}

.text-footer {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #023E8A;
  text-align: center;
  text-transform: uppercase;
  padding-right: 1rem;
}
@media (min-width: 961px) {
  .text-footer {
    font-size: 2.25rem;
    margin-bottom: 0;
  }
}
@media (min-width: 401px) and (max-width: 960px) {
  .text-footer {
    font-size: 2.1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
@media (max-width: 400px) {
  .text-footer {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}

.header {
  width: 100%;
  background-color: #023E8A;
  text-align: center;
  z-index: 100;
  box-shadow: 1px 1px 20px #222;
}

.header-home {
  width: 100%;
  background-color: #023E8A;
  text-align: center;
  z-index: 100;
  box-shadow: 1px 1px 20px #222;
}

img.logo {
  padding: 10px 0px 10px 10px;
  width: 25em;
  max-height: 70px;
}

.main-menu {
  padding: 5px 5px;
  flex-wrap: wrap;
}

ul.main-menu li {
  display: inline-flex;
}
ul.main-menu li a {
  transition-duration: 0.2s;
}
ul.main-menu li a:hover {
  background-color: #caf0f8;
  color: #023E8A;
  box-shadow: 1px 1px 20px #222;
  transform: scale(1.05);
  transition-duration: 0.3s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.item-navbar {
  color: #fff;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  text-transform: uppercase;
  padding: 1.5rem;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.social-menu {
  width: 15%;
}
.social-menu a {
  width: 4rem;
  color: #fff;
  font-size: 2.5rem;
}
.social-menu a:hover {
  width: 4rem;
  background-color: #caf0f8;
  color: #023E8A;
  transform: scale(1.05);
  transition-duration: 0.3s;
  box-shadow: 1px 1px 20px #222;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.navbar-toggler-icon {
  width: 4rem;
  height: 4rem;
}

@media (min-width: 401px) and (max-width: 960px) {
  .collapsed-menu {
    display: flex;
    justify-content: center;
  }
}

button {
  padding: 4rem;
  position: relative;
  margin: 5rem;
}

/*.btn {
    border-radius: 0;
}*/
/*.item-button,
.inner-button,
.btn-primary {
    background-color: $color-2;
    @include text ($font-base, 100, $color-4, center, $transform: true);
    font-family: $font-base;
    text-align: center;
    text-transform: $text-transform-base;
    border: none;
    padding: 10px;
    position: relative;    
    text-decoration: none;
    color: $color-4;
    cursor: pointer;  
    line-height: 1em;
    outline: none;
    margin: 3rem 0;

    @media (min-width: $bp-tablet-min) {
        font-size: 4rem;
    }

    @media (max-width: $bp-mobile) {
        font-size: 2rem;
    }

    &:hover {
        box-shadow: inset 0 0 0 1px $color-1;
        border-radius: $border-radius;
        animation: button-change-color .5s;
        transform: scale(1.1);   
        transition: all .5s;
        color: $color-1;
        background-color: $color-3;
    }
}

@keyframes button-change-color {
    from {background:$color-2; color:$color-4}
    to {background:$color-3; color:$color-1}
}*/
.btn-primary {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #023E8A;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  border: 0px solid #005b96;
  border-radius: 0px;
  position: relative;
  overflow: hidden !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: transparent !important;
  z-index: 10;
  margin: 1rem 0 3rem;
  padding: 1rem;
}
@media (min-width: 401px) {
  .btn-primary {
    font-size: 3rem;
  }
}
@media (max-width: 400px) {
  .btn-primary {
    font-size: 2rem;
  }
}
.btn-primary::before {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background: #023E8A;
  color: #fff;
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 1;
  top: 0;
  z-index: -12;
  -moz-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}
.btn-primary::after {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background: #0096c7;
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 0;
  top: 0;
  z-index: -15;
  -webkit-transition: all 0.94s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -moz-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -o-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}
.btn-primary:hover {
  color: #fff !important;
}
.btn-primary:hover::before {
  opacity: 1;
  width: 130%;
}
.btn-primary:hover::after {
  opacity: 1;
  width: 130%;
}

.btn-primary-white {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 5px black;
  letter-spacing: 1px;
  cursor: pointer;
  border: 0px solid #fff;
  border-radius: 0px;
  position: relative;
  overflow: hidden !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: transparent !important;
  z-index: 10;
  margin: 3rem 0;
  padding: 1rem;
}
@media (min-width: 401px) {
  .btn-primary-white {
    font-size: 3rem;
  }
}
@media (max-width: 400px) {
  .btn-primary-white {
    font-size: 2rem;
  }
}
.btn-primary-white::before {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background: #023E8A;
  position: absolute;
  text-shadow: none;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 1;
  top: 0;
  z-index: -12;
  -moz-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}
.btn-primary-white::after {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background: #0096c7;
  position: absolute;
  text-shadow: none;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 0;
  top: 0;
  z-index: -15;
  -webkit-transition: all 0.94s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -moz-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  -o-transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}
.btn-primary-white:hover {
  text-shadow: none;
  border: 0px solid #0096c7;
  color: #fff !important;
}
.btn-primary-white:hover::before {
  opacity: 1;
  width: 116%;
}
.btn-primary-white:hover::after {
  opacity: 1;
  width: 120%;
}

.carousel {
  margin: 0 0;
  align-items: center;
}

.carousel-inner {
  align-items: center;
}

.carousel-inner2 {
  width: 100%;
  align-items: center;
}

.carousel-inner3 {
  width: 80%;
  align-items: center;
}

.carousel-item {
  object-fit: scale-down;
  align-items: center;
  -webkit-transition: transform 500ms ease 0s;
  -moz-transition: transform 500ms ease 0s;
  -o-transition: transform 500ms ease 0s;
  transition: transform 500ms ease 0s;
}

img.d-block.w-100 {
  width: 100%;
  height: auto;
}

@media (max-width: 960px) {
  .carousel-indicators {
    display: none;
  }
}

@media (min-width: 961px) {
  .carousel-caption {
    height: 200px;
    padding: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
@media (min-width: 401px) and (max-width: 960px) {
  .carousel-caption {
    height: 130px;
    padding: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
@media (max-width: 400px) {
  .carousel-caption {
    height: 30px;
    padding: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.carousel-caption h6 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  align-items: center;
}
@media (min-width: 961px) {
  .carousel-caption h6 {
    font-size: 12rem;
  }
}
@media (min-width: 401px) and (max-width: 960px) {
  .carousel-caption h6 {
    font-size: 8rem;
  }
}
@media (max-width: 400px) {
  .carousel-caption h6 {
    font-size: 3rem;
  }
}

.carousel-caption p {
  width: 100%;
  font-family: "Oswald", sans-serif;
  font-weight: 100;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  align-items: center;
}

@media (min-width: 401px) {
  .carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: transparent;
    border-radius: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    height: 50px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    width: 50px;
    z-index: 1;
    color: #fff;
    border: 2px solid #fff;
    font-size: 0;
    outline: 0;
  }
}
@media (max-width: 400px) {
  .carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    height: 25px;
    width: 25px;
    z-index: 1;
    color: #fff;
    border: 2px solid #fff;
    font-size: 0;
    outline: 0;
  }
}

.carousel-control-prev-icon2 {
  margin-left: -2rem;
}

.carousel-control-next-icon2 {
  margin-right: -2rem;
}

.carousel-video {
  width: 100%;
}

.carousel-example {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.video-frame {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.video-item {
  width: 640px;
  height: 360px;
}

.rvs-container {
  background-color: #023E8A;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  color: #fff;
  text-align: justify;
  text-transform: uppercase;
  font-size: 2rem;
}
@media (min-width: 961px) {
  .rvs-container {
    width: 100%;
  }
}
@media (max-width: 960px) {
  .rvs-container {
    width: 80%;
  }
}

.rvs-container a.rvs-close:active,
.rvs-container a.rvs-close:focus,
.rvs-container a.rvs-close:hover,
.rvs-container a.rvs-nav-item.rvs-active,
.rvs-container a.rvs-nav-item.rvs-active:active,
.rvs-container a.rvs-nav-item.rvs-active:focus,
.rvs-container a.rvs-nav-item.rvs-active:hover,
.rvs-container a.rvs-play-video:active,
.rvs-container a.rvs-play-video:focus,
.rvs-container a.rvs-play-video:hover,
.rvs-container.rvs-thumb-play .rvs-nav-container .rvs-video-active span.rvs-nav-item-thumb:before,
.rvs-container.rvs-thumb-play .rvs-nav-container span.rvs-nav-item-thumb:hover:before {
  border-color: #0096c7;
  background-color: #0096c7;
}

.rvs-container a.rvs-nav-item.rvs-active,
.rvs-container a.rvs-nav-item.rvs-active:active,
.rvs-container a.rvs-nav-item.rvs-active:first-child,
.rvs-container a.rvs-nav-item.rvs-active:first-child:active,
.rvs-container a.rvs-nav-item.rvs-active:first-child:focus,
.rvs-container a.rvs-nav-item.rvs-active:first-child:hover,
.rvs-container a.rvs-nav-item.rvs-active:focus,
.rvs-container a.rvs-nav-item.rvs-active:hover,
.rvs-container a.rvs-play-video:active,
.rvs-container a.rvs-play-video:focus,
.rvs-container a.rvs-play-video:hover {
  border-color: #0096c7;
  background-color: #0096c7;
}

.rvs-container a.rvs-nav-item,
.rvs-container a.rvs-nav-item:active,
.rvs-container a.rvs-nav-item:focus,
.rvs-container a.rvs-nav-item:hover,
.rvs-container a.rvs-nav-next,
.rvs-container a.rvs-nav-next:active,
.rvs-container a.rvs-nav-next:focus,
.rvs-container a.rvs-nav-next:hover,
.rvs-container a.rvs-nav-prev,
.rvs-container a.rvs-nav-prev:active,
.rvs-container a.rvs-nav-prev:focus,
.rvs-container a.rvs-nav-prev:hover,
.rvs-nav-container {
  border-color: #005b96;
}

.rvs-container a.rvs-nav-item:active,
.rvs-container a.rvs-nav-item:focus,
.rvs-container a.rvs-nav-item:hover,
.rvs-container a.rvs-nav-next:active,
.rvs-container a.rvs-nav-next:focus,
.rvs-container a.rvs-nav-next:hover,
.rvs-container a.rvs-nav-prev:active,
.rvs-container a.rvs-nav-prev:focus,
.rvs-container a.rvs-nav-prev:hover {
  background-color: #005b96;
}

.rvs-container.rvs-horizontal.rvs-xs.rvs-sm.rvs-md.rvs-lg {
  height: 230px;
}
@media (min-width: 961px) {
  .rvs-container.rvs-horizontal.rvs-xs.rvs-sm.rvs-md.rvs-lg {
    height: 810px;
  }
}
@media (min-width: 401px) {
  .rvs-container.rvs-horizontal.rvs-xs.rvs-sm.rvs-md.rvs-lg {
    height: 810px;
  }
}
@media (max-width: 400px) {
  .rvs-container.rvs-horizontal.rvs-xs.rvs-sm.rvs-md.rvs-lg {
    height: 230px;
  }
}

.contact-form-container {
  margin: 5% 10% 0 15%;
}

.form-label {
  color: #005b96;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
}

.form-control,
.form-control-file {
  color: grey;
  font-family: "Oswald", sans-serif;
  font-weight: 100;
  font-size: 2rem;
}

.form-control-file {
  margin-bottom: 4rem;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 3em;
  resize: vertical;
}

input[type=submit] {
  background-color: #0096c7;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Oswald", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
}

input[type=submit]:hover {
  background-color: #caf0f8;
  color: #005b96;
  font-family: "Oswald", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  box-shadow: inset 0 0 0 3px #005b96, 1px 1px 20px #222;
}

.container {
  border-radius: 4px;
}

.required {
  color: red;
  font-family: "Oswald", sans-serif;
  font-size: 2.5rem;
}

.icon-box-section, .footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.inner-section, hr.separador, .videos-section, .staff, .header-video, .carousel, .carousel-caption h6, .carousel-caption p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.inner-contacto {
  margin-bottom: 100px;
}

.inner-contacto-map-text {
  border: 0px;
  margin: 5% 10% 0 10%;
}

.inner-contacto-map {
  width: 600px;
  height: 400px;
}
@media (min-width: 401px) and (max-width: 960px) {
  .inner-contacto-map {
    margin: 5% 10%;
  }
}
@media (max-width: 400px) {
  .inner-contacto-map {
    width: 400px;
    height: 300px;
  }
}

.inner-contacto-text {
  margin: 5% 10%;
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  color: #023E8A;
  text-align: justify;
  font-size: 3rem;
}

.header-video {
  width: 100%;
  object-fit: cover;
}
@media (min-width: 961px) {
  .header-video {
    height: 62.5em;
  }
}
@media (max-width: 960px) {
  .header-video {
    height: 10%;
  }
}

.header-title {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  color: #023E8A;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
}
@media (min-width: 961px) {
  .header-title {
    margin: 3rem auto;
    font-size: 5.25rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    white-space: nowrap;
    animation: typewriter 4s steps(44) 0.5s 1 normal both, blinkTextCursor 500ms steps(44) infinite normal;
    border-right: 0.1em solid #005b96;
  }
}
@media (min-width: 401px) and (max-width: 960px) {
  .header-title {
    margin: 3rem 5rem;
    font-size: 6rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    line-height: 8rem;
  }
}
@media (max-width: 400px) {
  .header-title {
    margin: 2rem 1rem;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    line-height: 4rem;
  }
}

@media (min-width: 1501px) {
  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 56%;
    }
  }
}
@media (max-width: 1500px) {
  @keyframes typewriter {
    from {
      width: 0;
    }
    to {
      width: 76%;
    }
  }
}
@keyframes blinkTextCursor {
  from {
    border-color: #023E8A;
  }
  to {
    border-color: transparent;
  }
}
.space {
  height: 5rem;
}

.icon-box-section {
  margin: 1.5rem;
}

.icon-box {
  width: 20rem;
  margin: 1em;
  background-color: #caf0f8;
  border-radius: 8px;
  padding: 3rem 1rem 2rem 1rem;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #023E8A;
  text-align: center;
  text-transform: uppercase;
  font-size: 300%;
}
.icon-box:hover {
  margin: 1em;
  padding: 3rem 1rem 2rem 1rem;
  background-color: #005b96;
  transform: translateY(5px);
  transition: all 0.1s;
  color: #fff;
  animation: button-change-color 0.1s;
}
@keyframes button-change-color {
  from {
    background: #fff;
    color: #0096c7;
  }
  to {
    background: #023E8A;
    color: #caf0f8;
  }
}

#servicios {
  display: block;
  text-align: center;
}

#confian-en-nosotros {
  display: block;
  text-align: center;
}

#quienes-somos {
  background-image: url(../images/staff/video-team.webp);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  z-index: -1;
}
@media (max-width: 960px) {
  #quienes-somos {
    background-position: right;
  }
}
@media (min-width: 961px) {
  #quienes-somos {
    background-attachment: fixed;
  }
}

#presupuesta {
  background-color: #fff;
  text-align: center;
}

#contacto {
  background-image: url(../images/map/map-opacity.webp);
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  text-align: center;
  height: auto;
}
@media (max-width: 960px) {
  #contacto {
    background-position: right;
  }
}
@media (min-width: 961px) {
  #contacto {
    background-attachment: fixed;
  }
}

.mapa {
  height: 300px;
  margin: 2rem;
  text-align: center;
}

.contacto-home {
  margin: 2rem;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  color: #fff;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 1px;
  text-shadow: 1px 1px 5px black;
}

.contacto-inner {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #023E8A;
  text-align: center;
  font-size: 3rem;
  margin: 3rem;
}

.presupuesta {
  display: block;
  position: relative;
  width: auto;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #023E8A;
  text-align: center;
  font-size: 3rem;
  margin: 4rem;
}
@media (min-width: 401px) and (max-width: 960px) {
  .presupuesta {
    margin: 4rem;
    padding: 0 3rem;
  }
}
@media (max-width: 400px) {
  .presupuesta {
    margin: 4rem 2rem;
    padding: 0 1rem;
  }
}

@media (max-width: 960px) {
  .staff-container {
    display: flex;
    justify-content: center;
  }
}

.staff {
  background: rgba(0, 0, 0, 0.7);
  background-position: center;
  margin: 2rem;
  align-content: center;
  border-radius: 8px;
  position: relative;
  align-self: center;
}

.staff-page {
  background-image: url(../images/staff/video-team.webp);
  background-color: rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
@media (max-width: 960px) {
  .staff-page {
    background-position: right;
  }
}
@media (min-width: 961px) {
  .staff-page {
    background-attachment: fixed;
  }
}

.opacity {
  background-color: rgba(0, 0, 0, 0.8);
  margin: 1rem;
}
@media (min-width: 961px) {
  .opacity {
    width: 80%;
    padding: 1rem;
  }
}
@media (min-width: 401px) {
  .opacity {
    width: 90%;
    padding: 0 1rem;
  }
}
@media (max-width: 400px) {
  .opacity {
    width: 90%;
    padding: 0 1rem;
  }
}

.staff-text {
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  color: #fff;
  text-align: justify;
  letter-spacing: 1px;
  margin: 30px 30px;
}
@media (min-width: 401px) {
  .staff-text {
    font-size: 3rem;
  }
}
@media (max-width: 400px) {
  .staff-text {
    font-size: 2.5rem;
  }
}

.equipo {
  display: inline-block;
  margin: 10px;
  width: 300px;
  height: auto;
}

.presupuesta {
  display: block;
  position: relative;
  width: auto;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #023E8A;
  text-align: center;
  font-size: 3rem;
  margin: 4rem;
}
@media (min-width: 401px) and (max-width: 960px) {
  .presupuesta {
    margin: 4rem;
    padding: 0 3rem;
  }
}
@media (max-width: 400px) {
  .presupuesta {
    margin: 4rem 2rem;
    padding: 0 1rem;
  }
}

.servicios-container {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 1rem;
  width: 36rem;
}
@media (min-width: 901px) {
  .card {
    margin: 0 2.5rem 3rem 2.5rem;
  }
}
@media (min-width: 401px) and (max-width: 960px) {
  .card {
    margin: 2rem 2rem;
  }
}
@media (max-width: 400px) {
  .card {
    margin: 0 2rem 2rem 2rem;
  }
}

.card-img-top {
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
}
.card-img-top:hover {
  filter: grayscale(0%);
}

.card-title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 350%;
  text-transform: uppercase;
  color: #023E8A;
}

.card-text {
  font-family: "Oswald", sans-serif;
  font-weight: 100;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: justify;
}

.marca {
  object-fit: cover;
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
  align-self: center;
  margin: auto;
}
@media (max-width: 960px) {
  .marca {
    width: 70%;
    height: auto;
  }
}
@media (min-width: 961px) {
  .marca {
    width: 25%;
    height: auto;
  }
}
.marca:hover {
  filter: grayscale(0%);
}

.videos-section {
  flex-direction: row;
}

.videos-trabajos {
  width: 100%;
}

iframe {
  border: none;
  padding: 10px;
  max-width: 100%;
}

.error {
  display: block;
  position: relative;
  width: auto;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #023E8A;
  text-align: center;
  font-size: 3rem;
  margin: 3rem;
}

.link {
  text-decoration: none;
  padding: 0 1rem;
}

.reel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30em;
  height: 30em;
  line-height: 100%;
  background: url(https://pixabay.com/static/uploads/photo/2013/07/12/14/09/film-reel-147850_960_720.png);
  background-size: 30em 30em;
  background-repeat: no-repeat;
  border-radius: 50%;
  text-align: center;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: spin;
}

div i {
  content: "";
  display: flex;
  justify-content: center;
  border-radius: 50%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
* {
  margin: 0;
  padding: 0;
  /*scroll-behavior: smooth;*/
}

:root {
  font-size: 8px;
}

.icon-fixed {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  z-index: 10;
  filter: grayscale(100%);
  transition: filter 0.3s ease-in-out;
}
@media (min-width: 961px) {
  .icon-fixed {
    width: 4%;
  }
}
@media (max-width: 960px) {
  .icon-fixed {
    width: 10%;
  }
}
.icon-fixed:hover {
  filter: grayscale(0%) drop-shadow(0px 1px 10px #aaaaaa);
}

.body-container {
  min-height: calc(100vh);
  margin-top: 50px;
  width: 100%;
}

.section-title {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 5rem;
  text-transform: uppercase;
  text-align: center;
  background-color: #0096c7;
  color: #fff;
  margin: 5rem 0 5rem 0;
}

.section-title-presupuesta {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 5rem;
  text-transform: uppercase;
  text-align: center;
  background-color: #0096c7;
  color: #fff;
  margin: 0 0 5rem 0;
}

hr.separador {
  align-items: center;
  text-align: center;
  margin: 5% 10%;
  border-top: 3px solid #005b96;
}

hr.separador-white {
  align-items: center;
  text-align: center;
  margin: 5% 2%;
  border-top: 3px solid #fff;
}

.inner-section {
  align-items: center;
  text-align: center;
}

.inner-section-title {
  margin: 2rem 0 5rem 0;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: #023E8A;
  padding: 2rem;
  font-size: 5rem;
}

.inner-section-title-top {
  margin: 1rem 0 5rem 0;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 5rem;
  text-transform: uppercase;
  text-align: center;
  color: #023E8A;
  font-size: 5rem;
}

.inner-section-title-white {
  margin: 1rem;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 20px #222;
  padding: 2rem;
}
@media (min-width: 961px) {
  .inner-section-title-white {
    font-size: 5rem;
  }
}
@media (min-width: 401px) and (max-width: 960px) {
  .inner-section-title-white {
    font-size: 4rem;
  }
}
@media (max-width: 400px) {
  .inner-section-title-white {
    font-size: 3rem;
  }
}

.inner-section-title-white-top {
  margin: 1rem;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 20px #222;
  padding: 2rem;
}
@media (min-width: 961px) {
  .inner-section-title-white-top {
    font-size: 5rem;
  }
}
@media (min-width: 401px) and (max-width: 960px) {
  .inner-section-title-white-top {
    font-size: 4rem;
  }
}
@media (max-width: 400px) {
  .inner-section-title-white-top {
    font-size: 3rem;
  }
}

/*# sourceMappingURL=style.css.map */
