.servicios-container {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.card {
    margin: 1rem;
    padding: 1rem;
    width: 36rem;
}

.card-img-top {
    filter:grayscale(100%);
    transition: filter .3s ease-in-out;

    &:hover {
    filter:grayscale(0%);
    }
}

.card-title {
    font-family: $font-base;
    font-weight: 400;
    font-size: 350%;
    text-transform: $text-transform-base;
    color: $color-0;
}

.card-text {
    font-family: $font-base;
    font-weight: 100;
    font-size: 2rem;
    text-transform: $text-transform-base;
    text-align: justify;
}
