.marca {    
    object-fit: cover;
    filter:grayscale(100%);
    transition: filter .3s ease-in-out;
    align-self: center;
    margin: auto;
    @media (max-width: $bp-tablet-max) {
        width: 50%;
        height: auto;
    }

    @media (min-width: $bp-desktop) {
        width: 25%;
        height: auto;
    }
    

    &:hover {
        filter:grayscale(0%);
    }
}

.videos-section {
    @extend %flexbox-center;
    flex-direction: row;
}

.videos-trabajos {
    width:100%;
}


iframe {
    border: none;
    padding: 10px;
    max-width: 100%;
}