.marca {    
    object-fit: cover;
    filter:grayscale(100%);
    transition: filter .3s ease-in-out;
    align-self: center;
    margin: auto;

    @media (max-width: $bp-mobile) {
        width: 200px;
        height: 113px;
    }

    @media (min-width: $bp-tablet-min) and (max-width: $bp-tablet-max) {
        width: 300px;
        height: 169px;
    }

    @media (min-width: $bp-desktop) {
        width: 444px;
        height: 250px;
    }
    

    &:hover {
        filter:grayscale(0%);
    }
}

.videos-section {
    @extend %flexbox-center;
    flex-direction: row;
}

.videos-trabajos {
    width:100%;
}


iframe {
    border: none;
    padding: 10px;
    max-width: 100%;
}