.carousel {
    margin: 0 0;
    @extend %flexbox-center; 
    align-items:center;
}

.carousel-inner {
    align-items:center;
}

.carousel-inner2 {
    width: 100%;
    align-items:center;
}

.carousel-inner3 {
    width: 80%;
    align-items:center;
}

.carousel-item {
    object-fit: scale-down;
    align-items:center;
    -webkit-transition: transform 500ms ease 0s;
    -moz-transition: transform 500ms ease 0s;
    -o-transition: transform 500ms ease 0s;
    transition: transform 500ms ease 0s;
}

img.d-block.w-100 {
    width: 100%;
    height: auto;
}



.carousel-indicators {
    @media (max-width: $bp-tablet-max) {
        display: none;
    }
}

.carousel-caption {
    @media (min-width: $bp-desktop) {
        height: 200px;
        padding: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    @media (min-width:$bp-tablet-min) and (max-width: $bp-tablet-max) {
        height: 130px;
        padding: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    @media (max-width:$bp-mobile) {
        height: 30px;
        padding: 0;
        top: 50%;
        transform: translateY(-50%);
    }

}


.carousel-caption h6 {
    @include text ($font-base, 400, $color-4, center, $transform: true);
    @extend %flexbox-center;
    align-items: center;

    @media (min-width: $bp-desktop) {
        font-size: 12rem;
    }
    
    @media (min-width:$bp-tablet-min) and (max-width: $bp-tablet-max) {
        font-size: 8rem;
    }

    @media (max-width:$bp-mobile) {
        font-size: 3rem;
    }
}

.carousel-caption p {
    width: 100%;
    @include text ($font-base, 100, $color-4, center, $transform: true);
    @extend %flexbox-center;
    align-items: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    @media (min-width:$bp-tablet-min) {
        background-color: transparent;
        border-radius: 100%;
        box-shadow: 0 0 5px rgb(0 0 0 / 10%);
        height: 50px;
        -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        width: 50px;
        z-index: 1;
        color: #fff;
        border: 2px solid #fff;
        font-size: 0;    
        outline: 0;
    }
    @media (max-width:$bp-mobile) {
        background-color: transparent;
        border-radius: 50%;
        box-shadow: 0 0 5px rgb(0 0 0 / 10%);
        height: 25px;
        width: 25px;
        z-index: 1;
        color: #fff;
        border: 2px solid #fff;
        font-size: 0;    
        outline: 0;
    }
    
}

.carousel-control-prev-icon2 {
    margin-left: -2rem;
}

.carousel-control-next-icon2 {
    margin-right: -2rem;
}

.carousel-video {
    width: 100%;
}

.carousel-example {
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    width: 100%;
}

.video-frame {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.video-item {
    width: 640px;
    height: 360px;
}

.rvs-container {
    background-color: $color-0;
    @include text ($font-base, 500, $color-4, justify, $transform: true);
    font-size: 2rem;
    @media (min-width: $bp-desktop) {
        width: 100%;
    }
    @media (max-width: $bp-tablet-max) {
        width: 80%;
    }
}

.rvs-container a.rvs-close:active,
.rvs-container a.rvs-close:focus,
.rvs-container a.rvs-close:hover,
.rvs-container a.rvs-nav-item.rvs-active,
.rvs-container a.rvs-nav-item.rvs-active:active,
.rvs-container a.rvs-nav-item.rvs-active:focus,
.rvs-container a.rvs-nav-item.rvs-active:hover,
.rvs-container a.rvs-play-video:active,
.rvs-container a.rvs-play-video:focus,
.rvs-container a.rvs-play-video:hover,
.rvs-container.rvs-thumb-play .rvs-nav-container .rvs-video-active span.rvs-nav-item-thumb:before,
.rvs-container.rvs-thumb-play .rvs-nav-container span.rvs-nav-item-thumb:hover:before {
    border-color: $color-2;
    background-color: $color-2;
}

.rvs-container a.rvs-nav-item.rvs-active,
.rvs-container a.rvs-nav-item.rvs-active:active,
.rvs-container a.rvs-nav-item.rvs-active:first-child,
.rvs-container a.rvs-nav-item.rvs-active:first-child:active,
.rvs-container a.rvs-nav-item.rvs-active:first-child:focus,
.rvs-container a.rvs-nav-item.rvs-active:first-child:hover,
.rvs-container a.rvs-nav-item.rvs-active:focus,
.rvs-container a.rvs-nav-item.rvs-active:hover,
.rvs-container a.rvs-play-video:active,
.rvs-container a.rvs-play-video:focus,
.rvs-container a.rvs-play-video:hover {
    border-color: $color-2;
    background-color: $color-2;
}

.rvs-container a.rvs-nav-item,
.rvs-container a.rvs-nav-item:active,
.rvs-container a.rvs-nav-item:focus,
.rvs-container a.rvs-nav-item:hover,
.rvs-container a.rvs-nav-next,
.rvs-container a.rvs-nav-next:active,
.rvs-container a.rvs-nav-next:focus,
.rvs-container a.rvs-nav-next:hover,
.rvs-container a.rvs-nav-prev,
.rvs-container a.rvs-nav-prev:active,
.rvs-container a.rvs-nav-prev:focus,
.rvs-container a.rvs-nav-prev:hover,
.rvs-nav-container {
    border-color: $color-1;
}

.rvs-container a.rvs-nav-item:active,
.rvs-container a.rvs-nav-item:focus,
.rvs-container a.rvs-nav-item:hover,
.rvs-container a.rvs-nav-next:active,
.rvs-container a.rvs-nav-next:focus,
.rvs-container a.rvs-nav-next:hover,
.rvs-container a.rvs-nav-prev:active,
.rvs-container a.rvs-nav-prev:focus,
.rvs-container a.rvs-nav-prev:hover {
    background-color: $color-1;
}

.rvs-container.rvs-horizontal.rvs-xs.rvs-sm.rvs-md.rvs-lg {
    
    height: 230px;
    
    @media (min-width: $bp-desktop) {
        height: 810px;
    }

    @media (min-width: $bp-tablet-min) {
        height: 810px;
    }

    @media (max-width: $bp-mobile) {
        height: 230px;
    }

    
}